*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
.vs/
PROYECTO_FINAL/PROYECTO_FINAL/glm/
PROYECTO_FINAL/PROYECTO_FINAL/include/
PROYECTO_FINAL/PROYECTO_FINAL/lib/
PROYECTO_FINAL/PROYECTO_FINAL/assimp-vc140-mt.dll
PROYECTO_FINAL/PROYECTO_FINAL/glew32.dll
PROYECTO_FINAL/PROYECTO_FINAL/glfw3.dll
Debug/
.DS_Store